[submodule "client/RE-UE4SS"]
	path = client/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
[submodule "client/PseudoregaliaMultiplayerMod/deps/wswrap"]
	path = client/PseudoregaliaMultiplayerMod/deps/wswrap
	url = https://github.com/black-sliver/wswrap.git
[submodule "client/PseudoregaliaMultiplayerMod/deps/websocketpp"]
	path = client/PseudoregaliaMultiplayerMod/deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "client/PseudoregaliaMultiplayerMod/deps/json"]
	path = client/PseudoregaliaMultiplayerMod/deps/json
	url = https://github.com/nlohmann/json.git
