/client/Output

# unreal auto generates these Content folders, we can ignore them until they actually get used
/client/pseudoregalia/Content/Collections
/client/pseudoregalia/Content/Developers
/client/pseudoregalia/Build
/client/pseudoregalia/DerivedDataCache
/client/pseudoregalia/Intermediate
/client/pseudoregalia/Saved

/server/target
